<section class="contact-page">
  <h2>Kontaktiraj nas</h2>

  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <input type="text" name="from_name" [(ngModel)]="formData.from_name" placeholder="Ime i prezime" required />
    <input type="email" name="reply_to" [(ngModel)]="formData.reply_to" placeholder="Email" required />
    <textarea name="message" [(ngModel)]="formData.message" placeholder="Poruka" required></textarea>
    <button type="submit" [disabled]="!contactForm.valid">Pošalji</button>
  </form>

</section>
